<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/default}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:fragment="title" th:text="${joke.value}">${joke.value}</title>

    <meta name="description" th:attr="content=${joke.value}"/>
    <meta content="index, follow" name="robots"/>

    <link rel="prev prerender" th:attr="href=${prev_joke_url}"/>
    <link rel="canonical" th:attr="href=${current_joke_url}"/>
    <link rel="next prerender" th:attr="href=${next_joke_url}"/>
</head>
<body>
<div layout:fragment="content">
    <section>
        <a class="btn" id="previous_joke_url" th:attr="href=${prev_joke_url}">Prev</a>
        <a class="btn" id="next_joke_url" th:attr="href=${next_joke_url}">Next</a>
        <blockquote><p id="joke_value" th:text="${joke.value}"/></blockquote>
        <i>
            <small>You can use the left and right keys on your keyboard to navigate!</small>
        </i>
    </section>
    <script>
        document.onkeydown = function (e) {
            switch (e.keyCode) {
                case 37:
                    // Left arrow
                    window.location = document.getElementById('previous_joke_url').href;
                    break;
                case 39:
                    // Right arrow
                    window.location = document.getElementById('next_joke_url').href;
                    break;
            }
        };
    </script>
</div>
</body>
</html>